body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #caf0fc, #f0a6ff); /* Nền gradient tuyến tính */
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background 1s ease; /* Thêm transition để làm mượt chuyển đổi màu nền */
}

/* Info styles */
.info {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#capture-button {
    font-size: 30px;
}

#items-list {
    list-style-type: none;
    padding: 0;
}

#items-list li {
    margin: 5px 0;
}

/* Toast styles */
.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    transform: translateX(-50%);
    transition: visibility 0.5s, opacity 0.5s ease-in-out;
    opacity: 0;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}

video {
    width: 320px;
    height: 240px;
    border: 1px solid black;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    transition: transform 0.3s ease;
}

.frame {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 10px;
    margin-top: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.snapshot {
    border: 2px solid black;
    margin: 20px;
}

.gem-display img {
    border: 2px solid black;
}

.smile-result {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

/* Hiệu ứng spinning */
.spinning {
    animation: spin 1s linear infinite; /* Tăng tốc độ quay gấp đôi */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Màu cho các loại đá quý và củ khoai lang */
.diamond {
    color: #b9f2ff; /* Màu xanh dương */
    border-color: #b9f2ff;
}

.ruby {
    color: #ff8080; /* Màu đỏ */
    border-color: #ff8080;
}

.emerald {
    color: #66ff66; /* Màu xanh lá cây */
    border-color: #66ff66;
}

.sapphire {
    color: #668cff; /* Màu xanh lam */
    border-color: #668cff;
}

.potato {
    color: #d2691e; /* Màu nâu */
    border-color: #d2691e;
}

.frame,
.snapshot,
.gem-display img,
button,
video {
    border-radius: 10px;
}

.time-info {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white; /* Thay đổi màu sắc tùy theo nền */
}
